/* UTILITIES */

*,*::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --main-color: #527837;
    --sec-color: #E9F7F0;
}

h1, .title-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.main-text{
    color: var(--main-color);
}

.sec-text{
    color: var(--sec-color);
}
        
.main-bg{
    background-color: var(--sec-color);
}
.sec-bg{
    background-color: var(--main-color);
}

/* NAVBAR */

.nav-link-custom{
    padding: 0.5rem 1rem;
    text-decoration: none;
    position: relative;
    font-size: 1.2em;
}

.nav-link-custom:hover{
    color: var(--main-color);
}

.nav-link-custom::before{
    content: "";
    width:80%;
    background-color: var(--main-color);
    height: 3px;
    transform: scaleX(0);
    transform-origin: center;
    position: absolute;
    transition: 0.8s ease-in-out;
    bottom: 10%;
    right: 10%;
}

.nav-link-custom:hover::before{
    transform: scaleX(1);
    transform-origin: center;
}

.nav-user-custom{
    font-size: .9em;
}
.nav-user-custom:hover{
    color: var(--main-color);
}

.dropdown-custom{
    width:10rem;
}

.btn-logout-custom{
    background-color: var(--sec-color);
}

.avatar-custom{
    width:2.7rem;
    height:2.7rem;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
